# Configuration file for primary server for new.ptgg

new.ptgg DB /home/core/dns_tp2/dns/.ptgg/data/new-ptgg.db
new.ptgg SS 10.2.2.2:5353
new.ptgg SS 10.2.2.3:5353
new.ptgg DD 127.0.0.1 
new.ptgg LG /home/core/dns_tp2/dns/.ptgg/root/root_servers.db 

all LG /home/core/dns_tp2/dns/SP/all.log 
root ST /home/core/dns_tp2/dns/.ptgg/root/root_servers.db



