# Configuration file for primary server for new.ptgg

new.ptgg DB C:\Users\guiar\dns\.ptgg\data\new-ptgg.db
new.ptgg SS 193.137.100.250
new.ptgg SS 193.136.130.251:5353
new.ptgg DD 127.0.0.1 
new.ptgg LG C:\Users\guiar\dns\.ptgg\log\new-ptgg.log 

all LG C:\Users\guiar\dns\SP\all.log 
root ST C:\Users\guiar\dns\.ptgg\root\root_servers.db



