# Configuration file for secondary server for new.ptgg

new.ptgg SP 193.137.100.250
new.ptgg SP 193.136.130.251:5353
new.ptgg DD 127.0.0.1 
new.ptgg LG /home/core/dns_tp2/dns/.ptgg/root/root_servers.db 

all LG /home/core/dns_tp2/dns/SS/all.log 
root ST /home/core/dns_tp2/dns/.ptgg/root/root_servers.db
