# Configuration file for primary server for ggpt

ggpt. DB C:\Users\guiar\Documents\DNS\dns\.ggpt\data\ggpt.db
ggpt. SS 10.1.1.2:5353
ggpt. SS 10.1.1.3:5353
ggpt. DD 127.0.0.1 
ggpt. LG C:\Users\guiar\Documents\DNS\dns\.ggpt\log\ggpt.log

all LG C:\Users\guiar\Documents\DNS\dns\SP\all.log
root ST C:\Users\guiar\Documents\DNS\dns\ROOT_SERVERS\st_servers.db



