# Configuration file for primary server for ptgg

ptgg. DB C:\Users\guiar\Documents\DNS\dns\.ptgg\data\ptgg.db
ptgg. SS 10.0.1.2:5353
ptgg. SS 10.0.1.3:5353
ptgg. DD 127.0.0.1 
ptgg. LG C:\Users\guiar\Documents\DNS\dns\.ptgg\log\ptgg.log

all LG C:\Users\guiar\Documents\DNS\dns\SP\all.log
root ST C:\Users\guiar\Documents\DNS\dns\ROOT_SERVERS\st_servers.db



