# Configuration file for primary server for another.ggpt

another.ggpt. DB C:\Users\guiar\Documents\DNS\dns\.ggpt\data\another.ggpt.db
another.ggpt. SS 10.1.0.2:5353
another.ggpt. SS 10.1.0.3:5353
another.ggpt. DD 127.0.0.1 
another.ggpt. LG C:\Users\guiar\Documents\DNS\dns\.ggpt\log\another.ggpt.log

all LG C:\Users\guiar\Documents\DNS\dns\SP\all.log
root ST C:\Users\guiar\Documents\DNS\dns\ROOT_SERVERS\st_servers.db



