# Configuration file for secondary server for another.ggpt

another.ggpt. SP 10.1.0.1:5353  
another.ggpt. DD 127.0.0.1 
another.ggpt. LG C:\Users\guiar\Documents\DNS\dns\.ggpt\log\another.ggpt.log

all LG C:\Users\guiar\Documents\DNS\dns\SS\all.log 
root ST C:\Users\guiar\Documents\DNS\dns\ROOT_SERVERS\st_servers.db